.btn{
    background-color: #9FF9A6;
    margin-top: 10px;
    border: none;
    color: black;
}



.jumbotron{
    background-color: #9FF9EB;
    color: black;
    margin-top: 50px;
}

.footer{
    padding: 10px 10px 0 10px;
    
}

.card{
    flex: 150px;
    padding: 2px 5px 2px 5px;
    border: none;
}

.breadcrumb{
    background-color: #B6E6DE;
    color: black;
}

.footer-icon{
    padding-right: 10px;
}

.footer-link{
    text-decoration-color: black;
}

.contac-size{
    padding-top: 10px;
}