.jumbotron{
    background-color: #DB3457;
    color: black;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color:#34DBB8;
    margin-bottom: 0px;
}

.card{
    flex: 150px;
    padding: 2px 5px 2px 5px;
    border: none;
}

.btn-reserve{
    width: 100%;
}